In [1]:
import pandas as pd

In [2]:
Data_peop=pd.read_excel('Data.xls')

In [3]:
Data_peop.head()

,Фамилия,Имя,Дата рождения,Место рождения,Телефон,E-mail
0,АБАЕВА,ЛЮСЕНА,1966-10-13,с.Урвань Урванского р-на Кабардино-Балкарской ...,79165107925,alh66@mail.ru
1,АБАЗОВ,ГАРИЙ,1964-07-07,гор. Телави респ. Грузия,79257443307,nik_abazov@mail.ru
2,АБАКАЕВА,АЛЕКСАНДРА,NaT,NaN,+7 (912) 133-39-99,s.a311@mail.ru
3,АБАКАЕВА,АЛЕКСАНДРА,1982-11-03,гор. Бишкек Республики Кыргызстан,79121333999,s.a311@mail.ru
4,АБАКАРОВА,ЭЛЬМИРА,1987-05-04,NaN,NaN,NaN